
<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <h1><strong><h1>Editando Produto Para Loja: <%= @store_product.store.name %></h1></strong></h1>
    <div class="box">

      <div class="field text">
        <%= image_tag @store_product.product.photo.url(), size: "150" %>
      </div>

      <div class="field">
        <strong>Nome do Suplemento:</strong>
        <%= @store_product.product.name %>
      </div>

      <div class="field">
        <strong>Tipo:</strong>
        <%= @store_product.product.type_of_suplement %>
      </div>

      <div class="field">
        <strong>Descrição:</strong>
        <%= @store_product.product.desc %>
      </div>

      <div class="field">
        <strong>Benefícios:</strong>
        <%= @store_product.product.benefits %>
      </div>

      <div class="field">
        <strong>Contraindicações:</strong>
        <%= @store_product.product.contraindication %>
      </div>

      <div class="field">
        <strong>Marca:</strong>
        <%= @store_product.product.brand %>
      </div>

      <div class="field">
        <strong>Peso:</strong>
        <%= @store_product.product.weight %>
      </div>

      <%= form_for(@store_product) do |f| %>
        <%= f.hidden_field :id, value: @store_product.id %>
        <% if @store_product.price != nil %>
          <% 
            price_string = sprintf("%.02f" , @store_product.price)
            price_string["."] = ","
            price_string = "R$ " + price_string

          %>
          <div class="field">
            <%= f.text_field :price, class:"form-control", required: true, type: "price", placeholder: "Valor", value: price_string %>
          </div>
        <% end %>
        <div class="field text">
          <%= f.submit :Editar, class:"btn be-red white" %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>