<div class="row center-xs">
  <div class="col-xs-12 col-md-12">
    <h1>Adicionando Produtos Para Loja</h1>
    <div class="panel panel-default table-responsive">
      <table id="tabela" class="table table-striped table-bordered" cellspacing="0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tipe</th>
            <th>Descrição</th>
            <th>Benefícios</th>
            <th>Contraindicações</th>
            <th>Marca</th>
            <th>Peso</th>
            <th>Foto</th>
            <th>Valor</th>
            <th>Adicionar</th>
          </tr>
        </thead>

        <tbody>
          <% if @products.count > 0 %>
            <% @products.each do |product| %>
              <tr>
                <td align="left"><%= product.name %></td>
                <td align="left"><%= product.type_of_suplement %></td>
                <td align="left"><%= product.desc %></td>
                <td align="left"><%= product.benefits %></td>
                <td align="left"><%= product.contraindication %></td>
                <td align="left"><%= product.brand %></td>
                <td align="left"><%= product.weight %></td>
                <td align="left"><%= image_tag product.photo.url(), size: "100" %></td>
                <%= render "form", id: product.id %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
