<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <h2>Entrar Como Admin</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="field">
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Senha" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me, "Lembrar meus dados" %>
            <%= f.check_box :remember_me, class:"form-control" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Entrar", class:"btn be-red white" %>
        </div>
      <% end %>

      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
