<div class="row center-xs">
  <div class="col-xs-12 col-md-12">
    <h1>Listando Todas as Suas Sugestões de Produtos</h1>
    <div class="panel panel-default table-responsive">
      <table id="tabela" class="table table-striped table-bordered" cellspacing="0">
        
        <thead>
          <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Foto</th>
            <th>Status</th>
            <% if store_signed_in? %>
            <th>Editar</th>
            <th>Excluir</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% if @products_suggestions.count > 0 %> 
            <% @products_suggestions.each do |product_suggestion| %>
              <tr>
                <td align="left"><%= link_to product_suggestion.name, product_suggestion, class: "red" %></td>
                <td align="left"><%= product_suggestion.brand %></td>
                <td align="left"><%= image_tag product_suggestion.photo.url(), size: "100" %></td>
                <td align="left"><%= product_suggestion.status %></td>
                <% if store_signed_in? %>
                  <td align="left">
                  <% if product_suggestion.status == "Aguardando Análise Do Adminstrador!" %>
                    <%= link_to "Editar", edit_product_suggestion_path(product_suggestion), class:"red" %>
                  <% end %>
                  </td>
                <td align="left"><%= link_to "Excluir", product_suggestion, class:"red", method: :delete %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
