<%= render "menu" %>

<div class="row center-xs">
  <div class="col-xs-12 col-md-12">
    <h1>Listando Todas as Vendas da Loja</h1>
    <h2>Com Status: <%= @status %></h2>
    <h2>Período Das Vendas(Mês/Ano): <%= @month %>/<%= @year %>
    <h3>
      Selecione Mês E Ano Das Vendas: 
      <%
        years = Array.new
        months = ["01","02","03","04","05","06","07","08","09","10","11","12"]
      %>
      <% if @first_date == nil %>
        <% years << Time.now.year.to_s %>
      <% else %>
        
        <%
          @first_date.created_at.year.upto(Time.now.year) do |i|
            years << i.to_s
          end
        %> 
      <% end %>
      <%= form_tag(sales_path, :method => "get", id: "search-form") do %>
        <%= hidden_field_tag :status, @status %>
        <%= select_tag :month, options_for_select(months, @month), class:"select-style-min" %>
        <%= select_tag :year, options_for_select(years, @year), class:"select-style-min" %>
    </h3>
    <h3>
        <%= submit_tag :Buscar, class:"btn be-red white"%>
    </h3>  
      <% end %>
      
    
    <p/>
    
    <% if @status == "Venda Concluída" %>
      <%
        valor_para_o_iwhey = 0.0
        @sales.each do |sale|
          valor_para_o_iwhey += (sale.total_value*0.1)
          valor_para_o_iwhey += (sale.delivery_value*0.1)
        end
        valor_para_o_iwhey = sprintf("%.02f" , valor_para_o_iwhey)
        valor_para_o_iwhey["."] = ","
      %>
      <div class="field">
        <strong>Valor Para Pagar Para o iWhey:</strong>
        R$ <%= valor_para_o_iwhey %>
      </div>
    <% end %>
    
    <div class="panel panel-default table-responsive">
      <table id="tabela" class="table table-striped table-bordered" cellspacing="0">
        
        <thead>
          <tr>
            <th>Valor Total</th>
            <th>Endereço De Entrega</th>
            <th>Ver Venda</th>
          </tr>
        </thead>

        <tbody>
          <% if @sales.count > 0 %>
            <% @sales.each do |sale| %>
              <tr>
  	            <% 
  		            price = sprintf("%.02f" , sale.total_value+sale.delivery_value)
  		            price["."] = ","
  		        %>
                	<td align="left">R$<%= price %></td>
                	<td align="left"><%= sale.address.full_address %></td>
                	<td align="left">
                    <%= link_to "Clique Aqui", sale_path(id: sale.id), class: "red", data: { no_turbolink: true } %>
                  </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
